*{
	margin: 0px;
	padding: 0px;
}

.s5_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s5_2 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 388px;
  height: 529px;
	animation: fadeInDown 0.7s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 4;
}

.s5_3 {
	position: absolute;
  left: 467px;
  top: 49px;
  width: 467px;
  height: 213px;
	animation: zoomIn 0.7s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s5_4 {
	position: absolute;
  left: 83px;
  top: 400px;
  width: 222px;
  height: 159px;
	animation: stampIn 0.3s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 10;
}

.s5_5 {
	position: absolute;
  left: 71px;
  top: 610px;
  width: 245px;
  height: 95px;
	animation: fadeInUp 0.7s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s5_6 {
	position: absolute;
  left: 493px;
  top: 310px;
  width: 413px;
  height: 63px;
	animation: fadeInUp 0.7s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s5_7 {
	position: absolute;
  left: 493px;
  top: 392px;
  width: 413px;
  height: 339px;
	animation: fadeInUp 0.7s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s5_8 {
	position: absolute;
  left: 516px;
  top: 321px;
  width: 144px;
  height: 94px;
	animation: pulse 1s infinite;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	opacity: 0;
	z-index: 2;
}

.s5_9 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s5_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s5_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}


@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}