* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.linked {
  position: absolute;
  left: 290px;
  top: 618px;
  width: 452px;
  height: 150px;
  z-index: 20;
}
