*{
	margin: 0px;
	padding: 0px;
}

.s7_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s7_2 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 388px;
  height: 528px;
	animation: fadeInDown 0.7s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 4;
}

.s7_3 {
	position: absolute;
  left: 466px;
  top: 49px;
  width: 467px;
  height: 213px;
	animation: zoomIn 0.7s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s7_4 {
	position: absolute;
  left: 59px;
  top: 361px;
  width: 265px;
  height: 204px;
	animation: stampIn 0.3s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 10;
}

.s7_5 {
	position: absolute;
  left: 71px;
  top: 609px;
  width: 245px;
  height: 94px;
	animation: fadeInUp 0.7s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s7_6 {
	position: absolute;
  left: 494px;
  top: 309px;
  width: 414px;
  height: 39px;
	animation: fadeInUp 0.7s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s7_7 {
	position: absolute;
  left: 495px;
  top: 413px;
  width: 215px;
  height: 250px;
	animation: fadeInDownSmall 0.7s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s7_8 {
	position: absolute;
  left: 737px;
  top: 413px;
  width: 170px;
  height: 250px;
	animation: fadeInDownSmall 0.7s;
	animation-delay: 3s;
	animation-fill-mode: both;
	opacity: 0;
	z-index: 2;
}

.s7_9 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s7_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s7_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}


@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}