* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.hit_1, .hit_2, .hit_3, .hit_4 {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 356px;
  top: 458px;
  width: 312px;
  height: 271px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 388px;
  top: 456px;
  width: 533px;
  height: 271px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 938px;
  top: 711px;
  width: 28px;
  height: 57px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 969px;
  top: 711px;
  width: 28px;
  height: 57px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}

.takeHome {
  position: absolute;
  left: 907px;
  top: 711px;
  width: 28px;
  height: 57px;
  z-index: 999;
}
