*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 178px;
  top: 454px;
  width: 145px;
  height: 225px;
	animation: zoomIn 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 4;
}

.s3 {
	position: absolute;
  left: 438px;
  top: 454px;
  width: 144px;
  height: 228px;
	animation: zoomIn 0.5s;
	animation-delay: 0.4s;
	animation-fill-mode: both;
	z-index: 3;
}

.s4 {
	position: absolute;
  left: 697px;
  top: 454px;
  width: 145px;
  height: 228px;
	animation: zoomIn 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 3;
}

.s5 {
	position: absolute;
  left: 537px;
  top: 576px;
  width: 359px;
  height: 76px;
	animation: fadeInRight 0.4s;
	animation-delay: 1.3s;
	animation-fill-mode: both;
	z-index: 3;
}