* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.vid {
	position: absolute;
  left: 890px;
  top: 423px;
  width: 82px;
  height: 82px;
	animation: pulse 1s infinite;
    animation-delay: 0s;
    animation-fill-mode: both;
	z-index: 2;
}

.closeVid1 {
	position: absolute;
	width: 1024px;
	height: 200px;
	display: none;
	z-index: 9999;
}

.vid1 {
	position: absolute;
	width: 1024px;
    height: 768px;
	background: white;
	display: none;
	z-index: 20;
}

.popVid1  {
  position: absolute;
  left: 838px;
  top: 374px;
  width: 186px;
  height: 177px;
  z-index: 10;
}

.takeCover {
	position: absolute;
  left: 716px;
  top: 668px;
  width: 64px;
  height: 100px;
	z-index: 10;
}

.takeSum {
	position: absolute;
  left: 788px;
  top: 668px;
  width: 64px;
  height: 100px;
	z-index: 10;
}

.hit_1, .hit_2, .hit_3, .hit_4, .hit_5, .hit_6, .hit_7, .hit_8, .hit_9  {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 859px;
  top: 668px;
  width: 64px;
  height: 100px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 930px;
  top: 668px;
  width: 64px;
  height: 100px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 88px;
  top: 514px;
  width: 116px;
  height: 164px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 210px;
  top: 514px;
  width: 116px;
  height: 164px;
	z-index: 10;
}

.hit_pop5 {
	position: absolute;
  left: 333px;
  top: 514px;
  width: 116px;
  height: 164px;
	z-index: 10;
}

.hit_pop6 {
	position: absolute;
  left: 455px;
  top: 514px;
  width: 116px;
  height: 164px;
	z-index: 10;
}

.hit_pop7 {
	position: absolute;
  left: 578px;
  top: 514px;
  width: 116px;
  height: 164px;
	z-index: 10;
}

.hit_pop8 {
	position: absolute;
  left: 700px;
  top: 514px;
  width: 116px;
  height: 164px;
	z-index: 10;
}

/* .hit_pop9 {
	position: absolute;
  left: 822px;
  top: 514px;
  width: 116px;
  height: 164px;
	z-index: 10;
} */

.hit_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}





@keyframes navigate {
  0% {
  left: 161px;
  top: 623px;
  opacity: 1;
  z-index: 5;
  } 
  15% {
  left: 349px;
  top: 623px;
  opacity: 1;
  z-index: 5;
  }
  30% {
  left: 466px;
  top: 601px;
  opacity: 1;
  z-index: 5;
  }
  45% {
  left: 624px;
  top: 635px;
  opacity: 1;
  z-index: 5;
  }
  60% {
  left: 741px;
  top: 601px;
  opacity: 1;
  z-index: 5;
  }
  75% {
  left: 937px;
  top: 623px;
  opacity: 1;
  z-index: 5;
  }
  100% {
  left: 161px;
  top: 623px;
  opacity: 1;
  z-index: 5;
  }
}