*{
	margin: 0px;
	padding: 0px;
}

.s11_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s11_2 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 387px;
  height: 529px;
	animation: fadeInDown 0.7s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 4;
}

.s11_3 {
	position: absolute;
  left: 466px;
  top: 50px;
  width: 466px;
  height: 212px;
	animation: zoomIn 0.7s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s11_4 {
	position: absolute;
  left: 75px;
  top: 589px;
  width: 242px;
  height: 70px;
	animation: fadeInUp 0.7s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 2;
}

.s11_5 {
	position: absolute;
  left: 445px;
  top: 346px;
  width: 430px;
  height: 336px;
	animation: zoomInDown 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s11_6 {
	position: absolute;
  left: 845px;
  top: 487px;
  width: 83px;
  height: 83px;
	animation: pulse 1s infinite;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s11_7 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s11_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s11_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}