*{
	margin: 0px;
	padding: 0px;
}

.s3_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s3_2 {
	position: absolute;
  left: 10px;
  top: 296px;
  width: 422px;
  height: 136px;
	animation: slideInLeft 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 4;
}

.s3_3 {
	position: absolute;
  left: 26px;
  top: 440px;
  width: 253px;
  height: 166px;
	animation: fadeInUp 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 3;
}

.s3_4 {
	position: absolute;
  left: 372px;
  top: 323px;
  width: 597px;
  height: 276px;
	animation: zoomIn 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3_5 {
	position: absolute;
  left: 528px;
  top: 373px;
  width: 427px;
  height: 292px;
	animation: fadeInRight 1s;
	animation-delay: 3.5s;
	animation-fill-mode: both;
	z-index: 2;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}