*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 0px;
  top: 300px;
  width: 1024px;
  height: 118px;
	animation: none 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 20;
}

.s1_3 {
	position: absolute;
  left: 0px;
  top: 44px;
  width: 1024px;
  height: 61px;
	animation: fadeInUp 0.7s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 30;
}

.s1_4 {
	position: absolute;
  left: 80px;
  top: 222px;
  width: 197px;
  height: 321px;
	animation: fadeInDown 0.7s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s1_5 {
	position: absolute;
  left: 246px;
  top: 184px;
  width: 198px;
  height: 312px;
	animation: fadeInUp 0.7s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s1_6 {
	position: absolute;
  left: 413px;
  top: 221px;
  width: 198px;
  height: 322px;
	animation: fadeInDown 0.7s;
	animation-delay: 3.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s1_7 {
	position: absolute;
  left: 580px;
  top: 184px;
  width: 198px;
  height: 313px;
	animation: fadeInUp 0.7s;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s1_8 {
	position: absolute;
  left: 747px;
  top: 222px;
  width: 198px;
  height: 325px;
	animation: fadeInDown 0.7s;
	animation-delay: 5.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s1_9 {
	position: absolute;
  left: 203px;
  top: 619px;
  width: 405px;
  height: 44px;
	animation: fadeInLeft 1s;
	animation-delay: 6.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s1_10 {
	position: absolute;
  left: 369px;
  top: 657px;
  width: 452px;
  height: 54px;
	animation: fadeInRight 1s;
	animation-delay: 6.5s;
	animation-fill-mode: both;
	z-index: 3;
}