*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 400px;
  top: 82px;
  width: 599px;
  height: 126px;
	animation: fadeInRight 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s1_3 {
	position: absolute;
  left: 582px;
  top: 416px;
  width: 442px;
  height: 352px;
	animation: fadeInUp 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}