*{
	margin: 0px;
	padding: 0px;
}

.s9_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s9_2 {
	position: absolute;
  left: 164px;
  top: 80px;
  width: 696px;
  height: 184px;
	animation: fadeInDown 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 4;
}  

.s9_3 {
	position: absolute;
  left: 169px;
  top: 291px;
  width: 673px;
  height: 48px;
	animation: zoomIn 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s9_4 {
	position: absolute;
  left: 16px;
  top: 451px;
  width: 276px;
  height: 216px;
	animation: zoomIn 1s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s9_5 {
	position: absolute;
  left: 610px;
  top: 580px;
  width: 382px;
  height: 141px;
	animation: upDown 2s infinite;
	animation-delay: 3.5s;
	animation-fill-mode: both;
	opacity: 0px;
	z-index: 3;
}

.s9_6 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s9_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s9_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}



@keyframes upDown {
  0% {
    opacity: 1;
	top: 600px;
  }

  50% {
    opacity: 1;
    top: 580px;
  }

  100% {
    opacity: 1;
    top: 600px;
  }
}

@keyframes flashLight {
  0%, 50%, 100% {
    opacity: 1;
	transform: scale3d(0.9, 0.9, 0.9);
  }

  25%, 75% {
    opacity: 0.5;
	transform: scale3d(0.7, 0.7, 0.7);
  }
}