*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 426px;
  top: 458px;
  width: 153px;
  height: 188px;
	animation: zoomIn 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 4;
}

.s3 {
	position: absolute;
  left: 600px;
  top: 458px;
  width: 154px;
  height: 188px;
	animation: zoomIn 0.5s;
	animation-delay: 0.4s;
	animation-fill-mode: both;
	z-index: 3;
}

.s4 {
	position: absolute;
  left: 778px;
  top: 458px;
  width: 155px;
  height: 188px;
	animation: zoomIn 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 3;
}

.s5 {
	position: absolute;
  left: 537px;
  top: 576px;
  width: 359px;
  height: 76px;
	animation: fadeInRight 0.4s;
	animation-delay: 1.3s;
	animation-fill-mode: both;
	z-index: 3;
}