*{
	margin: 0px;
	padding: 0px;
}

.s8_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s8_2 {
	position: absolute;
  left: 148px;
  top: 327px;
  width: 728px;
  height: 348px;
	animation: zoomIn 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 4;
}

.s8_3 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 15;
}

.s8_pop1 {
	position: absolute;
  left: 904px;
  top: 697px;
  width: 120px;
  height: 71px;
	z-index: 10;
}

.s8_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}