*{
	margin: 0px;
	padding: 0px;
}

.s7_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s7_2 {
	position: absolute;
  left: 744px;
  top: 416px;
  width: 64px;
  height: 77px;
	animation: upDown 1s infinite;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 4;
}  

.s7_3 {
	position: absolute;
  left: 25px;
  top: 355px;
  width: 425px;
  height: 217px;
	animation: fadeInUp 0.8s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s7_4 {
	position: absolute;
  left: 70px;
  top: 223px;
  width: 330px;
  height: 70px;
	animation: fadeInDown 0.8s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s7_5 {
	position: absolute;
  left: 371px;
  top: 0px;
  width: 653px;
  height: 660px;
	animation: flash 4s infinite;
	animation-delay: 2s;
	animation-fill-mode: both;
	opacity: 0px;
	z-index: 3;
}

.s7_6 {
	position: absolute;
  left: 725px;
  top: 282px;
  width: 303px;
  height: 216px;
	animation: fadeInRight 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 2;
}

.s7_7 {
	position: absolute;
  left: 82px;
  top: 366px;
  width: 883px;
  height: 140px;
	animation: fadeInDown 1s;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 2;
}

.s7_8 {
	position: absolute;
  left: 516px;
  top: 321px;
  width: 144px;
  height: 94px;
	animation: pulse 1s infinite;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	opacity: 0;
	z-index: 2;
}

.s7_9 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s7_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s7_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}



@keyframes upDown {
  0% {
    opacity: 1;
	top: 416px;
  }

  50% {
    opacity: 1;
    top: 430px;
  }
  
  100% {
    opacity: 1;
    top: 416px;
  }
}